* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    .logo {
        display: flex;
        align-items: center;
        gap: 15px;
        color: #C92071;

    }

    .logo img {
        width: 33px;
        height: 33px;
    }

    nav a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-weight: bold;
        padding: 0px 15px;
    }

    nav a:hover {
        text-decoration: underline;
        color: #C92071;
    }

    .itens {
        margin: 0;
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 0;
        border: 30px;
        justify-content: center;
        list-style: none;
        color: rgb(112, 110, 110);
        cursor: pointer;
    }

}

section {


    .texto_na_imagem {
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: bold;

        h1 {
            
            font-weight: 700;
            font-size: 64px;
        }

        p {
            font-family: Inter;
            font-weight: 400;
            font-size: 19.44px;
            line-height: 36.72px;
            letter-spacing: 0.81px;

        }

        .oferta {
            color: orange;
            font-weight: 900;
            

        }


        .botao1 {
            width: 237px;
            height: 51px;
            border-radius: 8px;
            background-color: #C92071;
            color: white;
            

        }


    }

    .tenis_banner {
        position: absolute;
        top: 20px;
        left: 45%;
    }

    .ornamento {
        position: absolute;
        top: 50px;
        left: 90%;
    }
}

.coleçoes{
display: grid;
grid-template-columns: 300px 300px 300px;
justify-content: center;



}



























footer {
    background-color: black;
    color: white;
    padding: 72px 104px 10px;


    .sera {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        font-size: small;

    }

    .informaçao,
    .categoria,
    .contato {
        margin-left: 110px;

    }

    .logod {
        margin-right: 10px;

    }

    .logos {
        img {
            width: 20px;
        }

        display: flex;
        gap: 20px;

    }

    .copy {
        text-align: center;
    }


}

.search-bar input {
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #ffffff;
    /* cor de fundo do botão /
    color: #fff;             / cor do ícone ou texto */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.search-bar button:hover {
    background-color: #333;
}