@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow-x: hidden; */
    /* width: 100vw; */
}

body {
    max-width: 100vw;
}

header {
    width: 100%;
}

header.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #C92071;

}

header.logo img {
    width: 33px;
    height: 33px;
}

header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    padding: 0px 0px;
}

header a:hover {
    text-decoration: underline;
    color: #C92071;
}

header.itens {
    margin: 0;
    display: flex;
    gap: 0;
    align-items: center;
    padding: 0;
    border: 30px;
    justify-content: center;
    list-style: none;
    color: rgb(112, 110, 110);
    cursor: pointer;
}

#barraPesquisa {
    width: 499px;
    height: 60px;
    /* margin-top: 34px;
    margin-left: 10px; */
    border: 0px;
    border-radius: 8px 0 0 8px;
    background-color: #4747470a;
    padding-inline-start: 25px;
}

.search-bar button:hover {
    background-color: #333;
}

.inicio {
    display: flex;
    gap: 0;
    margin: 15px;
    justify-content: space-around;
    align-items: center;
}

.Pesquisar {
    color: #666666;
}

.imagem-principal {
    width: 253px;
    height: 44px;
    /* margin-top: 42px;
    margin-left: 104px; */
    cursor: pointer;
}

#botaoLupa {

    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    background-color: #4747470a;
    border: 0px;
    border-radius: 0 8px 8px 0;
    width: 60px;
    height: 60px;
    margin-top: 34px;
    margin-left: 0;
}

#cadastro {
    width: 102px;
    height: 28px;
    /* margin-top: 50px;
    margin-left: 48px; */
    text-decoration: underline;
    color: black;
}

#botaoEntrar {
    width: 114px;
    height: 40px;
    /* margin-top: 44px;
    margin-left: 30px; */
    color: #f5f5f5;
    background-color: #C92071;
    border: 0px;
    border-radius: 8px;
    box-shadow: #333;
    cursor: pointer;
}

#botaoEntrar:hover {
    background-color: #4f061e;
}

#iconeCarrinho {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGjSURBVHgB1ZTLUcMwFEWvFPakBFEBySowLAgVpATSAXYFCQ0QpwKGCggV4A3DdwaXoHTgJTDE4sof4iERTow3nJlEH9u6eu9dCfjviKJzr7yhBOKEv0MdhGgIueyIEfWu2d4+KD9AQ3wL9PRk7xOmawAtYXbRELI8ONJBxMU1I1FoiJ2fEwtgTtXBk/IuUQMDyTomU9ZRrxXIaRuIPmphVAuiw86JS0DbP1sT1IBuHGeGyZAr+rSpbV+V10YNJOQ+m6gYr0QgcgEjWtZJMTbYpYHxD3QQZN8n3JiInQLIU/RuFjZF83UCPIyzNNblOFyKiQ6fXFUKEAUH1s4opaHApvWDBkFq9QyJBnkDrHtsbJFToPAvfonAhUx3n6YsLs2tYq8LevkYW8JDNrBtnsIUx0EzUxZr8qh8gy0lEojz8oxwvUor9tn0sR1hk1f9RjgjeFbeiOEOeYimxSFy8aL8U16SYy436+kLv/xsbZGtn7k4P4ASEGeogIt7SF1nvDvldSoFujqIBUxo+6zyDSpglOnJZTqisoMqYaHVpu/WvRz/zBeFHY3gm22JsQAAAABJRU5ErkJggg==);
    background-position-x: left;
    background-position-y: bottom;
    background-size: 24px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    width: 33px;
    height: 29px;
    /* margin-top: 47px;
    margin-left: 70px;
    margin-right: 100px; */
}


.itens-cadastro {
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    align-items: center;
}

#maps {
    color: white;
    text-decoration: none;
}


.carrossel {


    .texto_na_imagem {
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: bolder;

        h1 {

            font-weight: 750;
            font-size: 64px;

        }

        p {

            font-weight: 400;
            font-size: 19.44px;
            line-height: 36.72px;
            letter-spacing: 0.81px;
            color: #474747;

        }

        .oferta {
            color: orange;
            font-weight: 900;


        }


        .botao1 {
            width: 237px;
            height: 50px;
            border-radius: 10px;
            background-color: #C92071;
            color: white;
            border: none;


        }

        .botao1:hover {
            background-color: #a11a5c;
        }

        img {
            width: 70px;
            position: absolute;
            top: 35%;
            left: 75%;


        }
    }

    .tenis_banner {
        position: absolute;
        top: 20px;
        left: 45%;
    }

    .ornamento {
        position: absolute;
        top: 20px;
        left: 90%;

    }
}


.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    background-color: #CCCCCC !important;
    opacity: 0.5;
    transition: 0.3s;
    margin: 0 6px;
}

.carousel-indicators .active {
    background-color: #C92071 !important;
    opacity: 1;
}


.coleçoes {

    display: grid;
    grid-template-columns: 450px 450px 450px;
    justify-content: center;

    .card {
        background-color: #D8E3F2;
        display: flex;
        width: 405px;
        height: 251px;

        P {
            position: absolute;
            top: 20%;
            left: 20%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            background-color: #E7FF86;
            border-radius: 50px;
            padding: 5px;

        }

        a {
            position: absolute;
            top: 75%;
            left: 25%;
            transform: translate(-50%, -50%);
            width: 153px;
            height: 48px;
            border-radius: 8px;
            background-color: #F5F5F5;
            color: #C92071;
            border: none;
            font-family: inter;
            font-size: 16px;
            text-align: center;


        }

    }

    .card-title {
        position: absolute;
        top: 40%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
    }


}


.textocolecao {

    text-align: left;
    margin-left: 1px;
    margin-top: 38px;
    margin-bottom: 20px;
    width: 283px;
    height: 38px;
    font-size: 24px;
    font-weight: 700;
    color: #474747
}

.imagem_dos_cards {
    width: 250px;
    height: 234px;
    margin-left: 138px;



}


.em_alta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    img {
        width: 290px;
    }

}

.presos {
    display: flex;
}

.descontos {
    font-weight: bold;
    padding-left: 20px;
    font-size: 24px;
}

.body_em_alta {
    background-color: rgb(211, 211, 211);
}

.texto_em_alta {
    font-size: 24px;
}

.paragrafo_em_alta {
    font-size: 24px;
    text-decoration: line-through;
}

.promoçao_em_alta {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: #E7FF86;
    border-radius: 50px;
    padding: 5px;
    
}
























footer {
    background-color: #1f1f1f;
    color: white;
    padding: 72px 104px 10px;
    display: grid;
    justify-content: center;
    width: 100%;

    .geralFooter {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        font-size: small;

    }

    .informaçao,
    .categoria,
    .contato {
        margin-left: 110px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 15px;
        font-family: Inter;

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 16px;
            cursor: pointer
        }

        p:hover {
            color: #C92071;
        }

    }

    .logod {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        gap: 40px;

    }

    .logos {
        /* img {
            width: 20px;
        } */

        display: flex;
        gap: 20px;

    }

    .copy {
        text-align: center;
        font-size: 13px;
    }


}

.search-bar input {
    padding: 8px 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #ffffff;
    /* cor de fundo do botão /
    color: #fff;             / cor do ícone ou texto */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.search-bar button:hover {
    background-color: #333;
}

.divFinal {
    margin: 75px 0px 0px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
}