footer {
    background-color: black;
    color: white;
    padding: 72px 104px 10px;


    .sera {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        font-size: small;

    }

    .informaçao,
    .categoria,
    .contato {
        margin-left: 110px;

    }

    .logod {
        margin-right: 10px;

    }

    .logos {
        img {
            width: 20px;
        }

        display: flex;
        gap: 20px;

    }

    .copy {
        text-align: center;
    }


}